.question {
  border-style: solid;
  border-radius: 20px;
  border-color: rgba(119, 185, 185, 0.438);
  min-height: 40px;
  margin-top: 20px;
}
#submitButton {
  text-align: center;
  margin-top: 30px;
}
header {
  margin-top: 50px;
  text-align: center;
}
