table {
  border-style: solid;
  border-width: 10xp;
  border-color: brown;
  border-radius: 40px;
}
img {
  height: 40px;
}
body {
  max-width: 200px;
  margin: auto;
  margin-left: 20%;
}
h1 {
  text-align: center;
}
.border {
  border-color: aqua;
}
p {
  margin: 20px;
}

.textStyle {
  text-decoration: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hide {
  visibility: hidden;
}
.td {
  border-style: solid;
  border-width: 5px;
  border-color: green;
}
.backColor {
  background-color: green;
  text-decoration: dotted;
}
